frontend/node_modules
frontend/dist
frontend/build
backend/bin/
backend/obj/
.vscode/
backend/.vs/
*.user
*.userosscache
*.sln.docstates
*.sqlite
.idea/
appsettings.Development.json
appsettings.Local.json
appsettings.Production.json
appsettings.json
backend/packages
backend/project.lock.json
frontend/coverage
frontend/lcov-report
backend/coverage
.env
frontend/.env
backend/.env
backend/*.lock.json
frontend/package-lock.json
